<div class="container">
  <div class="row d-flex mt-5">
    <div class="col">
      <form #f="ngForm" name="form">
        <div [className]="responseStatus == 0 ? 'alert alert-warning' : 'alert alert-danger'" role="alert" *ngIf="message">
          {{ message }}
        </div>

        <b>Dados do cliente</b>
        <div class="form-group">
          <input type="text"
                 name="nome"
                 class="form-control" [(ngModel)]="user.nome"
                 required
                 placeholder="Nome"/>
        </div>
        <div class="form-group">
          <input type="text"
                 name="cpf"
                 class="form-control" [(ngModel)]="user.cpf"
                 mask="000.000.000-00"
                 required
                 placeholder="CPF"/>
        </div>

        <hr>

        <b>Endereço</b>
        <div class="form-group">
          <input type="text"
                 name="cep"
                 class="form-control" [(ngModel)]="user.endereco.cep"
                 mask="00000-000"
                 required
                 (blur)="getEndereco()"
                 placeholder="CEP"/>
          <span *ngIf="viacepMessage" style="color: firebrick">
            {{viacepMessage}}
          </span>
        </div>
        <div class="form-group">
          <input type="text"
                 name="logradouro"
                 class="form-control" [(ngModel)]="user.endereco.logradouro"
                 required
                 placeholder="logradouro"/>
        </div>
        <div class="form-group">
          <input type="text"
                 name="bairro"
                 class="form-control" [(ngModel)]="user.endereco.bairro"
                 required
                 placeholder="bairro"/>
        </div>
        <div class="form-group">
          <input type="text"
                 name="cidade"
                 class="form-control" [(ngModel)]="user.endereco.cidade"
                 required
                 placeholder="cidade"/>
        </div>
        <div class="form-group">
          <input type="text"
                 name="uf"
                 class="form-control" [(ngModel)]="user.endereco.uf"
                 mask="SS"
                 required
                 placeholder="uf"/>
        </div>
        <div class="form-group">
          <input type="text"
                 name="complemento"
                 class="form-control" [(ngModel)]="user.endereco.complemento"
                 placeholder="complemento"/>
        </div>

        <b>Telefones</b>
        <div class="form-group">
          <select name="tipo-telefone" class="form-control" [(ngModel)]="tipoTelefone">
            <option>-- Selecione --</option>
            <option value="0">Celular</option>
            <option value="1">Fixo</option>
            <option value="2">Comercial</option>
          </select>
        </div>
        <div class="form-group">
          <input type="text"
                 name="numero-telefone"
                 class="form-control" [(ngModel)]="numeroTelefone"
                 mask="(00) 000000000"
                 placeholder="Número"/>
        </div>
        <div class="form-group text-right">
          <button class="btn btn-primary" (click)="adicionarTelefone()">
            Adicionar Contato
          </button>
        </div>

        <div class="form-group">
          <ul>
            <li *ngFor="let telefone of user.telefones">
              {{ telefone.numero | mask: '(00) 000000000' }}
            </li>
          </ul>
        </div>

        <b>E-mails</b>
        <div class="form-group">
          <input type="text"
                 name="email"
                 class="form-control" [(ngModel)]="email"
                 placeholder="email@email.com"/>
        </div>
        <div class="form-group text-right">
          <button class="btn btn-primary" (click)="adicionarEmail()">
            Adicionar Email
          </button>
        </div>

        <div class="form-group">
          <ul>
            <li *ngFor="let e of user.emails">
              {{ e.email }}
            </li>
          </ul>
        </div>

        <b>Credenciais de acesso</b>
        <div class="form-group">
          <input type="text"
                 name="email"
                 class="form-control" [(ngModel)]="user.username"
                 required
                 placeholder="username"/>
        </div>
        <div class="form-group">
          <input type="password"
                 name="email"
                 class="form-control" [(ngModel)]="user.password"
                 required
                 placeholder="password"/>
        </div>
        <div class="form-group">
          <input type="password"
                 name="confirmPassword"
                 class="form-control" [(ngModel)]="confirmPassword"
                 required
                 placeholder="Confirme o password"/>
        </div>

        <div class="form-group">
          <button class="btn btn-success" (click)="criarUsuario()" [disabled]="!f.valid">
            Cadastrar
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
