<div class="row d-flex justify-content-center mt-5">
  <div class="col-3">
    <form #form="ngForm" (ngSubmit)="login()">
      <div [className]="responseStatus == 0 ? 'alert alert-warning' : 'alert alert-danger'" role="alert" *ngIf="message">
        {{ message }}
      </div>
      <div class="form-group">
        <input type="text"
               name="username"
               class="form-control"
               placeholder="Usuário" [(ngModel)]="user.username" required />
      </div>
      <div class="form-group">
        <input type="password"
               name="password"
               class="form-control"
               placeholder="Senha" [(ngModel)]="user.password" required />
      </div>
      <div class="form-group">
        <button class="btn btn-primary btn-block" (click)="login()" [disabled]="!user.username || !user.password">
          Entrar
        </button>
      </div>
    </form>
  </div>
</div>
