<div class="container">
  <div class="row d-flex mt-5">
    <div class="col pt-2 pb-2">
      <h4>Dados do usuário</h4>
      <table class="table table-sm table-hover table-striped">
        <thead>
        <tr>
          <th class="text-center">Nome</th>
          <th class="text-center">CPF</th>
          <th class="text-center">Usuário</th>
          <th class="text-center">Perfil</th>
          <th class="text-center"></th>
        </tr>
        </thead>
        <tbody class="text-center">
          <tr *ngFor="let user of users; let i = index">
            <td>{{user.nome}}</td>
            <td>{{user.cpf | mask: '000.000.000-00' }}</td>
            <td>{{user.username}}</td>
            <td>{{user.authorities[0].name.substring(5)}}</td>
            <td>
              <button class="btn btn-secondary" (click)="showDetails(user.id)">
                Detalhes
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row d-flex">
    <div class="col pt-2 pb-2">
      <div *ngIf="userDetail">

        <h4>Endereço</h4>
        <table class="table table-sm table-hover table-striped">
          <thead>
          <tr>
            <th class="text-center">CEP</th>
            <th class="text-center">Logradouro</th>
            <th class="text-center">Bairro</th>
            <th class="text-center">Cidade</th>
            <th class="text-center">UF</th>
            <th class="text-center">Complemento</th>
          </tr>
          </thead>
          <tbody class="text-center">
          <tr>
            <td>{{ userDetail.endereco.cep | mask: '00000-000' }}</td>
            <td>{{ userDetail.endereco.logradouro }}</td>
            <td>{{ userDetail.endereco.bairro }}</td>
            <td>{{ userDetail.endereco.cidade }}</td>
            <td>{{ userDetail.endereco.uf }}</td>
            <td>{{ userDetail.endereco.complemento }}</td>

          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="row d-flex">
    <div class="col pt-2 pb-2">
      <div *ngIf="userDetail">
        <h4>Telefones</h4>
        <table class="table table-sm table-hover table-striped">
          <thead>
          <tr>
            <th class="text-center">Telefone</th>
            <th class="text-center">Tipo</th>
          </tr>
          </thead>
          <tbody class="text-center">
          <tr *ngFor="let telefone of userDetail.telefones">
            <td>{{ telefone.numero | mask: '(00) 000000000'}}</td>
            <td>{{ telefone.tipoTelefoneEnum }}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col pt-2 pb-2">
      <div *ngIf="userDetail">
        <h4>Emails</h4>
        <table class="table table-sm table-hover table-striped">
          <thead>
          <tr>
            <th class="text-center">Email</th>
          </tr>
          </thead>
          <tbody class="text-center">
          <tr *ngFor="let e of userDetail.emails">
            <td>{{ e.email }}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
